<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Projects</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
    <body>
        <header>
            <img src="/static/images/company-logo-removebg-preview.png" alt="Company Logo" class="logo">
            <h1>Moving Horizons</h1>
            <nav>
                <ul>
                    <li><a href=" {{url_for('dashboard')}} ">Home</a></li>
                    <li class="dropdown">
                        <b>Domain</b><br>
                        <select name="Domain" id="domain-select">
                            <option value="All">All</option>
                            {% for domain in domains %}
                                <option value="{{ domain }}">{{ domain }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <div class="filters">
                        <b>Skill</b><br>
                        <select name="Skill" id="skill-select">
                            <option value="All">All</option>
                            {% for skill in skills %}
                                <option value="{{ skill }}">{{ skill }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="flash-message" style="text-align: center;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="project-list">
        
            
            {% for project in projects %}
                <div class="project-template" data-domain="{{ project.pdomain }}">
                    <h2>{{ project['pname'] }}</h2>
                    <p class="project-description">
                        {{ project['pdesc'] }}
                        <br>
                        <span class="team-leader">Domain: {{ project['pdomain'] }}</span><br>
                        <span class="email">Skills: {{ project['skills'] }}</span><br>
                        <span class="email">Needed: {{ project['needed'] }}</span><br>
                        <span class="email">Working: {{ project['present'] }}</span><br>
                        <form method="POST" action="{{  url_for('available_projects') }}" id="applyForm">
                            <button type="submit" name="project_id" value="{{ project.pid }}">Apply Now</button>
                        </form>
                    </p>
                </div>
            {% endfor %}
            
            <!-- Repeat the project templates for each project -->
        </div>

    

        <script src="scripts.js"></script>
        <script>
            document.getElementById('skill-select').addEventListener('change', function() {
            var value = this.value;
            var projects = document.getElementsByClassName('project-template');
            
            for (var i = 0; i < projects.length; i++) {
                var project = projects[i];
                var skills = project.querySelector('.email').textContent;

                if (value === 'All' || skills.includes(value)) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }
            }
            });

            document.getElementById('domain-select').addEventListener('change', function() {
                    var value = this.value;
                    var projects = document.getElementsByClassName('project-template');
                    
                    for (var i = 0; i < projects.length; i++) {
                        var project = projects[i];
                        var domain = project.getAttribute('data-domain');
                        
                        if (value === 'All' || domain === value) {
                            project.style.display = 'block';
                        } else {
                            project.style.display = 'none';
                        }
                    }
                });




        </script>
    </body>
</html>