<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moving Horizons - Courses</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        #profile-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
            z-index: 3; /* Ensure it's above other elements */
        }

        /* Popup Content */
        .popup-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            max-width: 400px; /* Adjust the width as needed */
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <header>
        <img src="/static/images/company-logo-removebg-preview.png" alt="Company Logo" class="logo">
        <h1 class="page-title">Moving Horizons</h1>
        <nav>
            <ul>
                <li><a href="{{  url_for('dashboard')  }}">Home</a></li>
                <li><a href="#" id="profile-button">Profile</a></li>
                <div class="filters">
                        <b>Skill</b><br>
                        <select name="Skill" id="skill-select">
                            <option value="All">All</option>
                            {% for skill in skills %}
                                <option value="{{ skill }}">{{ skill }}</option>
                            {% endfor %}
                        </select>
                    </div>
            </ul>
        </nav>
        
    </header>

    <div class="flash-message" style="text-align: center;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    </div>

    <div class="main-body">
        <div id="profile-popup" class="popup">
            <center>
                <div class="popup-content">
                    <span class="close" id="close-popup">&times;</span>
                    <h2>Employee Profile</h2>
                    <p><b>Name:</b> {{ user_name }}</p>
                    <p><b>Project:</b> {{ user_project }}</p>
                    <p><b>Skills:</b> {{ user_skills }}</p>
                    <p><b>Department:</b> {{ user_dept }}</p>
                </div>
            </center>
          </div>
        <div class="project-list">
        
            
            {% for course in courses %}
                <div class="project-template" data-domain = "{{ course.skill }}">
                    <h2>{{ course.cname }}</h2>
                    <p class="project-description">
                        {{ course.duration }} months
                        <br>
                        <span class="team-leader">Skill: {{ course.skill }}</span><br>
                        <form method="POST" action="{{ url_for('add_skill') }}" id="applyForm">
                            <input 
                                type="hidden"
                                name="cid"
                                value="{{course.cid}}">
                            <input
                                type="hidden" 
                                name="skill"
                                value="{{course.skill}}">
                            <button type="submit">Finished?</button>
                        </form>

                        <form method="POST" action="{{ course.clink }}">
                            <button type="submit">Course Link</button>
                        </form>
                    </p>
                </div>
            {% endfor %}

        </div>
            
    </div>
    </div>


    <script>

    function showProfilePopup() {
        const popup = document.getElementById("profile-popup");
        popup.style.display = "block";
    }

    function hideProfilePopup() {
        const popup = document.getElementById("profile-popup");
        popup.style.display = "none";
    }

    const profileButton = document.getElementById("profile-button");
    profileButton.addEventListener("click", showProfilePopup);

    const closePopup = document.querySelector(".close");
    closePopup.addEventListener("click", hideProfilePopup);

    document.getElementById('skill-select').addEventListener('change', function() {
        var value = this.value;
        var courses = document.getElementsByClassName('project-template');
                    
         for (var i = 0; i < courses.length; i++) {
            var course = courses[i];
            var skill = course.getAttribute('data-domain');
                        
            if (value === 'All' || skill === value) {
                course.style.display = 'block';
            } else {
                course.style.display = 'none';
            }
        }
    });
    </script>

</body>
</html>
